.addBtn {
  color: white;
  background-color: blue;
  border: none;
  border-radius: 20px;
  padding: 5px;
  width:6rem;
  border-radius: 20px;
  border:none;
  padding:10px;
  cursor:pointer;
}
.addInp{
  
    padding: 9px;
    margin: 1rem 0.5rem;
    border-radius: 20px;
    border:1px solid grey;
  
}
.addComp{
  display: flex;
  justify-content: center;
}